{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-loops"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript"
  ],
  "rules": {
    "no-console": 1,
    "no-loops/no-loops": 2,
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}